@import 'tailwindcss';

:root {
  --colorPickerBg: color-mix(
    in srgb,
    var(--color-obsidian-900) 75%,
    transparent
  ) !important;
  --colorPickerInputTitle: white !important;
  --colorPickerInputTitleBg: var(--color-obsidian-800) !important;
  --colorPickerInputText: white !important;
  --colorPickerInputTextBg: var(--color-obsidian-700) !important;
  --colorPickerDropper: white !important;
  --colorPickerDropperBg: var(--color-obsidian-800) !important;
  --colorPickerShadowOut: none !important;
  --colorPickerShadowIn: none !important;
  --colorPickerSlider: var(--color-obsidian-950) !important;
}
